{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- BREADCRUMBS -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex justify-content-between">
                        <div class="row">
                            <div class="col-auto">
                                <i class="fa fa-home circular circular-success"></i>
                            </div>
                            <div class="col pt-4">
                                <h4 class="card-title">Dashboard</h4>
                                <p class="text-muted">Votre tableau de bord</p>
                            </div>
                        </div>
                        <div class="d-inline-flex">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="breadcrumbs-container bg-light">
                {{ wo_render_breadcrumbs() }}
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <div class="row mt-4">
        <div class="col-6">

            <div class="card bg-gradient-warning text-white text-center card-shadow-primary">
                <div class="card-body">
                    <h6 class="font-weight-normal">Livres prêtés</h6>
                    <h2 class="mb-0">{{ livresPretes|length }}</h2>
                </div>
            </div>

        </div>

        <div class="col-6">

            <div class="card bg-gradient-danger text-white text-center card-shadow-primary">
                <div class="card-body">
                    <h6 class="font-weight-normal">Livres empruntés</h6>
                    <h2 class="mb-0">{{ livresEmpruntes|length }}</h2>
                </div>
            </div>

        </div>
    </div>
{% endblock %}



