{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item {% if currentPath == path('dashboard_index') %}active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_index') }}">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item {% if currentPath == path('dashboard_livre_index') %}active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_livre_index') }}">
                <i class="fa fa-book menu-icon"></i>
                <span class="menu-title">Livres</span>
            </a>
        </li>
        <li class="nav-item {% if currentPath == path('dashboard_livre_reserved') %}active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_livre_reserved') }}">
                <i class="fa fa-bookmark menu-icon"></i>
                <span class="menu-title">Mes Livres</span>
            </a>
        </li>
        <li class="nav-item {% if currentPath == path('dashboard_type_index') %}active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_type_index') }}">
                <i class="fa fa-folder menu-icon"></i>
                <span class="menu-title">Type</span>
            </a>
        </li>
    </ul>
</nav>