{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item {% if currentPath == path('dashboard_index') %}active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_index') }}">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item {% if currentPath == path('dashboard_livre_index') %}active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_livre_index') }}">
                <i class="fa fa-book menu-icon"></i>
                <span class="menu-title">Tous les livres</span>
            </a>
        </li>
        <li class="nav-item {% if currentPath == path('dashboard_livre_reserved') %}active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_livre_reserved') }}">
                <i class="fa fa-cog menu-icon"></i>
                <span class="menu-title">Gérer mes livres</span>
            </a>
        </li>
        <li class="nav-item {% if currentPath == path('dashboard_livre_preter') %}active{% endif %}">
            <a class="nav-link" href="{{ path('dashboard_livre_preter') }}">
                <i class="fa fa-book-open menu-icon"></i>
                <span class="menu-title">Prêter un livre</span>
            </a>
        </li>
    </ul>
</nav>
