{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="card-columns">

        {% for livre in pagination %}
            <div class="card">
                <div class="bg-dark text-center">
                    <img class="card-img-top" src="{{ vich_uploader_asset(livre, 'imageFile') }}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ livre.nom }}</h4>
                    <p class="card-text">{{ livre.description }}</p>
                </div>
                <a href="{{ path('dashboard_livre_show', {'hash': livre.hash}) }}" class="btn btn-primary w-100"><i class="fa fa-arrow-right"></i></button>
            </div>
        {% endfor %}

    </div>


{% endblock %}