<div id="aside" class="app-aside fade box-shadow-x nav-expand dark" aria-hidden="true">
    <div class="sidenav modal-dialog dk white">
        <div class="navbar lt align-content-center center text-center justify-content-center">
            <img src="{{ asset('assets/images/logo.png') }}" width="100"/>
        </div>
        <div class="flex hide-scroll">
            <div class="scroll">
                <div class="nav-border b-primary" data-nav>
                    <ul class="nav">
                        <li class="nav-header hidden-folded mt-2"><span class="text-xs text-wm">Catalog</span></li>
                        <li>
                            <a href="{{ path('admin_index') }}">
                                <span class="nav-icon no-fade"><i class="fa fa-home"></i></span>
                                <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_index') }}">
                                <span class="nav-icon no-fade"><i class="fa fa-user"></i></span>
                                <span class="nav-text">Utilisateurs</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('livre_index') }}">
                                <span class="nav-icon no-fade"><i class="fa fa-book"></i></span>
                                <span class="nav-text">Livres</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
