{% extends 'base_admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <!-- BREADCRUMBS -->
    <div class="row pb-4">
        <div class="col-auto">
            <i class="fa fa-home circular circular-success"></i>
        </div>
        <div class="col pt-3">
            <h1 class="h1 bdc-title">Dashboard</h1>
            <span class="text-grey">Overview of your store</span>
        </div>
    </div>
    <!-- BREADCRUMBS -->

    <!-- BOX 4 COLUMNS -->
    <div class="row">
        <div class="col-6 col-lg-3 pb-4">
            <div class="box p-2 mb-0 segment-danger">
                <div class="pt-3 text-center text-3x">$35,340</div>
                <div class="pb-3 text-center font-weight-bold">SALES</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 pb-4">
            <div class="box p-2 mb-0 segment-warning">
                <div class="pt-3 text-center text-3x">0</div>
                <div class="pb-3 text-center font-weight-bold">FULFILLED ORDERS</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 pb-4">
            <div class="box p-2 mb-0 segment-primary">
                <div class="pt-3 text-center text-3x">11</div>
                <div class="pb-3 text-center font-weight-bold">CUSTOMERS</div>
            </div>
        </div>
        <div class="col-6 col-lg-3 pb-4">
            <div class="box p-2 mb-0 segment-success ">
                <div class="pt-3 text-center text-3x">$0,00</div>
                <div class="pb-3 text-center font-weight-bold">AVERAGE ORDER VALUE</div>
            </div>
        </div>
    </div>
    <!-- BOX 4 COLUMNS -->

    <!-- BOX TRANSPARENT 4 COLUMNS -->
    <div class="row">
        <div class="col-6 col-lg-3 pb-4">
            <div class="box-transparent text-center text-grey">
                <a class="p-2 d-block text-md" href="#"><i class="fa fa-cubes"></i> Products</a>
            </div>
        </div>

        <div class="col-6 col-lg-3 pb-4">
            <div class="box-transparent text-center text-grey">
                <a class="p-2 d-block text-md" href="#"><i class="fa fa-shopping-cart"></i> Orders</a>
            </div>
        </div>

        <div class="col-6 col-lg-3 pb-4">
            <div class="box-transparent text-center text-grey">
                <a class="p-2 d-block text-md" href="#"><i class="fa fa-tag"></i> Customers</a>
            </div>
        </div>

        <div class="col-6 col-lg-3 pb-4">
            <div class="box-transparent text-center text-grey">
                <a class="p-2 d-block text-md" href="#"><i class="fa fa-ticket"></i> Promotions</a>
            </div>
        </div>
    </div>
    <!-- BOX TRANSPARENT 4 COLUMNS -->

    <!-- TABLES 2 COLUMNS -->
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="box">
                <div class="box-header pl-4"><h3>New customers</h3></div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-grey">Name</th>
                            <th class="text-grey"></th>
                            <th class="text-grey"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <strong>Chelsey Quitzon</strong><br>
                                <div class="text-grey">abshire.peter@hotmail.com</div>
                            </td>
                            <td></td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Krista Rosenbaum</strong><br>
                                <div class="text-grey">annette19@yahoo.com</div>
                            </td>
                            <td></td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Krista Rosenbaum</strong><br>
                                <div class="text-grey">annette19@yahoo.com</div>
                            </td>
                            <td></td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Krista Rosenbaum</strong><br>
                                <div class="text-grey">annette19@yahoo.com</div>
                            </td>
                            <td></td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Krista Rosenbaum</strong><br>
                                <div class="text-grey">annette19@yahoo.com</div>
                            </td>
                            <td></td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">

            <div class="box">
                <div class="box-header pl-4"><h3>New orders</h3></div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-grey">Order</th>
                            <th class="text-grey">Items</th>
                            <th class="text-grey">Total</th>
                            <th class="text-grey"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <strong>Lucy Krajcik</strong><br>
                                <div class="text-grey">kayden40@hotmail.com</div>
                            </td>
                            <td>5</td>
                            <td>$199.02</td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Katelynn Ruecker</strong><br>
                                <div class="text-grey">slebsack@hotmail.com</div>
                            </td>
                            <td>3</td>
                            <td>$160.46</td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Katelynn Ruecker</strong><br>
                                <div class="text-grey">slebsack@hotmail.com</div>
                            </td>
                            <td>3</td>
                            <td>$160.46</td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Katelynn Ruecker</strong><br>
                                <div class="text-grey">slebsack@hotmail.com</div>
                            </td>
                            <td>3</td>
                            <td>$160.46</td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Katelynn Ruecker</strong><br>
                                <div class="text-grey">slebsack@hotmail.com</div>
                            </td>
                            <td>3</td>
                            <td>$160.46</td>
                            <td class="text-right">
                                <a class="btn btn-grey" href="#">
                                    <i class="fa fa-search"></i> Voir
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- TABLES 2 COLUMNS -->

{% endblock %}