{% extends 'base_admin.html.twig' %}

{% block body %}
    <!-- BREADCRUMBS -->
    <div class="row pb-4">
        <div class="col-auto">
            <i class="fa fa-home circular circular-success"></i>
        </div>
        <div class="col pt-3">
            <h1 class="h1 bdc-title">Dashboard</h1>
            <span>Overview of your store</span>
        </div>
    </div>
    <!-- BREADCRUMBS -->
{% endblock %}