<div id="aside" class="app-aside fade box-shadow-x nav-expand dark" aria-hidden="true">
    <div class="sidenav modal-dialog dk white">
        <div class="navbar lt align-content-center center text-center justify-content-center">
            <img src="//sylius.com/wp-content/themes/sylius/assets/img/logo.svg" alt="Sylius"
                 style="width: 90px; margin: 2px auto;">
        </div>
        <div class="flex hide-scroll">
            <div class="scroll">
                <div class="nav-border b-primary" data-nav>
                    <ul class="nav">
                        <li class="nav-header hidden-folded mt-2"><span class="text-xs text-wm">Catalog</span></li>
                        <li><a><span class="nav-icon no-fade"><i class="fa fa-folder"></i></span>
                                <span class="nav-text">Components</span></a>
                            <ul class="nav-sub nav-mega">
                                <li><a href="index.html"><span class="nav-text">Calendar</span></a></li>
                                <li><a href="index.html"><span class="nav-text">Infinite Scroll</span></a></li>
                                <li><a href="index.html"><span class="nav-text">Sortable</span></a></li>
                                <li><a href="index.html"><span class="nav-text">Scroll Reveal</span></a></li>
                                <li><a href="index.html"><span class="nav-text">Vector map</span></a></li>
                            </ul>
                        </li>
                        <li><a><span class="nav-caret"><i class="fa fa-caret-down"></i></span> <span
                                        class="nav-icon"><i class="badge badge-xs badge-o md"></i></span> <span
                                        class="nav-text">Tables</span></a>
                            <ul class="nav-sub">
                                <li><a href="index.html"><span class="nav-text">Static table</span></a></li>
                                <li><a href="index.html"><span class="nav-text">Bootstrap Table</span></a></li>
                                <li><a href="index.html"><span class="nav-text">Datatable</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>