<div class="content-header white box-shadow-1" id="content-header">
    <div class="navbar navbar-expand-lg"><a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"/>
            </svg>
        </a>
        <div class="navbar-text nav-title flex text-grey" id="pageTitle">Dashboard</div>
        <ul class="nav flex-row order-lg-2">
            <li class="nav-item dropdown"><a class="nav-link px-3" data-toggle="dropdown"><i
                            class="fa fa-bell text-warning fa-2x"></i> <span
                            class="badge badge-pill up danger">1</span></a>
                <div class="dropdown-menu dropdown-menu-right w-md animate fadeIn mt-2 p-0 text-dark400">
                    <div class="scrollable hover" style="max-height: 250px">
                        <div class="list">
                            <div class="list-item" data-id="item-7"><span
                                        class="w-24 avatar circle indigo"><span class="fa fa-bug"></span></span>
                                <div class="list-body"><a href="" class="item-title _500">Fifth Harmony</a>
                                    <div class="item-except text-sm text-muted h-1x">Send you a invitation to
                                        SWO
                                    </div>
                                    <div class="item-tag tag hide"></div>
                                </div>
                                <div><span class="item-date text-xs text-muted">05:35</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex px-3 py-2 b-t">
                        <div class="flex"><span>1 Notification(s)</span></div>
                        <a href="index.html"><i class="fa fa-angle-right"></i> <span>Voir plus </span></a></div>
                </div>
            </li>
            <li class="dropdown d-flex align-items-center">
                <a href="#" data-toggle="dropdown" class="d-flex align-items-center">
                    <span class="avatar w-32">
                        <img src="{{ asset('assets/images/50x50.png')}}"/>
                    </span>
                    <span class="ml-2">John</span>
                    <span class="ml-2"><i class="fa fa-sort-down align-text-top"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right pt-0 mt-2 animate fadeIn">
                    <a class="dropdown-item" href="{{ path('app_password') }}">
                        <span><i class="fa fa-user fa-2x"></i> Mon compte</span>
                    </a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <span><i class="fa fa-sign-out fa-2x"></i> Déconnexion</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>