<!-- Footer Start -->
        <section class="section_all bg_footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer_heading_tag mt-6">
                            <h6 class="font-weight-bold text-white">Informations</h6>
                        </div>
                        <div class="footer_links_all mt-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="{{ path('index') }}">Haut</a></li>
                                <li><a href="{{ path('mentions') }}">Mentions l&eacute;gales</a></li>
                                <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer End  -->