{% extends 'front/base_front.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <a href="{{ path("index") }}">Home</a>
    <br/>
    <a href="{{ path("app_login") }}">Login</a>
{% endblock %}