{% extends 'front/base_front.html.twig' %}

{% block title %}Mentions l&eacute;gales{% endblock %}

{% block body %}
    <section class="job_apply_area sec_pad bg_color">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8">
                    <article id="post-754" class="post-754 page type-page status-publish hentry">
                        <h1 class="entry-title main_title">Mentions Légales</h1>
                        <div class="entry-content">
                            <p>Les présentes ont pour objet de fixer les conditions d’utilisation du site web accessible à l’adresse&nbsp;<a href="https://www.spot-3d.com/">https://www.campus.academy</a></p>
                            <p>Conformément aux dispositions de l’article 6 III 1° de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, nous vous informons que :</p>
                            <p>Ce site est édité par la société Campus Academy, SARL au capital de 1000 €, immatriculée au RCS Bordeaux (numéro 849 402 060) dont le siège social se situe 2 cours de l’intendance 33000 Bordeaux – Téléphone : 09 72 62 47 47.</p>
                            <p>L’hébergement est assuré par la société&nbsp;<a href="https://wpengine.com/about-us/">WP Engine</a>&nbsp;dont le siège social se situe 504 Lavaca Street,&nbsp;Suite&nbsp;1000 Austin, TX 78701.</p>
                            <p>Le Directeur de la Publication est Yven Rigollet.</p>
                            <h2>DROITS D’AUTEUR SUR LES DOCUMENTS FIGURANT SUR LE SITE DE CAMPUS ACADEMY</h2>
                            <p>Les documents publiés sur le site sont couverts par le droit d’auteur. Toute reprise est conditionnée au respect du droit de la propriété intellectuelle au regard des auteurs et ayants droits des photographies, infographies, œuvres d’art… éventuellement inclus dans les documents ou sur le site de Campus Academy.</p>
                            <p>Les droits pour ces documents n’ont été acquittés que pour l’utilisation qui en est faite. Toute utilisation ultérieure pourrait entrer en conflit avec les droits de propriété intellectuelle préexistants.</p>
                            <h3><strong>CREDITS PHOTOS</strong></h3>
                            <p>© Misc. Loot Co / Adobe Stock<br>
                                © Supercrowds / Adobe Stock<br>
                                © Shutterstock.com</p>
                            <h2>CRÉATION DE LIENS VERS LE SITE WEB CAMPUS ACADEMY</h2>
                            <p>Campus Academy autorise tout site Internet ou tout autre support à citer le site ou à mettre en place un lien hypertexte pointant vers son contenu. L’autorisation de mise en place d’un lien est valable pour tout site, à l’exception de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure, porter atteinte à la sensibilité du plus grand nombre, ou causer un préjudice quelconque à Campus Academy, à son image ainsi qu’à celle de l’ensemble de ses salariés, ses étudiants ou de ses partenaires.</p>
                            <p>Pour ce faire, dans le respect des droits d'auteurs, un logo est disponible sur simple demande adressée par courrier électronique au service de la communication (à
                                <br>l’adresse :&nbsp;<a>contact@campus.academy</a>) pour illustrer le lien.</p>
                            <h2>COOKIES</h2>
                            <p>En vue d’adapter le site aux demandes de ses visiteurs, des mesures du nombre de visites, de pages vues ainsi que de l’activité des visiteurs sur le site et de leur fréquence de retour sont effectuées.</p>
                            <p>L’outil statistique de mesure de la fréquentation du site Google Analytics, que nous utilisons, est, de manière générale, basé sur la seule analyse des « logs » de connexions sur les serveurs. Toutefois, certaines pages peuvent contenir un marqueur témoin (« cookie »).</p>
                            <p>Conformément à l’article 8.1 des conditions d’utilisation du service Google Analytics, nous attirons l’attention de nos visiteurs sur les conditions d’utilisation de ce service, consultables&nbsp;<a href="https://www.google.fr/analytics/terms/fr.html">ici</a>.</p>
                            <p>L’internaute peut refuser ces « témoins » ou les supprimer sans que cela entraîne une difficulté d’accès aux pages du site. Pour s’opposer à l’enregistrement de « témoins » ou être prévenu avant de l’accepter, nous vous conseillons de consulter la rubrique d’aide de votre navigateur qui précise la marche à suivre.</p>
                            <h2>Politique de confidentialité</h2>
                            <p><a href="https://campus.academy/politique-de-confidentialite">La politique de confidentialité de Campus Academy est consultable ici.</a></p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}