{% extends 'front/base_front.html.twig' %}

{% block title %}Mentions l&eacute;gales{% endblock %}

{% block body %}
    {# <section class="job_apply_area sec_pad bg_color"> #}
    <section class="section_all">
        <div class="container">
            <div class="row flex-row">
                <div class="col-lg-8">
                    <article id="post-754" class="post-754 page type-page status-publish hentry">
                        <h1 class="entry-title main_title">Mentions Légales</h1>
                        <div class="entry-content">
                            <p>Les présentes mentions l&eacute;gales ont pour objectif de fixer les conditions d’utilisation de l'application <a href="{{ path('index') }}">Campus Book</a></p>
                            <p>Conformément aux dispositions de l’article 6 III 1° de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, nous vous informons que :</p>
                            <p>Ce site est édité par des &eacute;tudiants de l&apos;&eacute;cole Campus Academy Rennes. Campus Academy, SARL au capital de 1000 €, immatriculée au RCS Bordeaux (numéro 849 402 060) dont le siège social se situe 2 cours de l’intendance 33000 Bordeaux – Téléphone : 09 72 62 47 47.</p>
                            <p>L’hébergement est assuré par l&apos;&eacute;cole elle-m&ecirc;me.</p>
                            <p>Le Directeur de la publication est le directeur de l&apos;&eacute;cole.</p>
                            
                            <h2>DROITS D’AUTEUR SUR LES DOCUMENTS FIGURANT SUR LE SITE DE CAMPUS ACADEMY</h2>
                            <p>Les documents publiés sur le site sont couverts par le droit d’auteur. Toute reprise est conditionnée au respect du droit de la propriété intellectuelle au regard des auteurs et ayants droits des photographies, infographies, œuvres d’art… éventuellement inclus dans les documents ou sur le site de Campus Academy.</p>
                            <p>Les droits pour ces documents n’ont été acquittés que pour l’utilisation qui en est faite. Toute utilisation ultérieure pourrait entrer en conflit avec les droits de propriété intellectuelle préexistants.</p>
                            {# <h3><strong>CREDITS PHOTOS</strong></h3>
                            <p>©</p> #}

                            <h2>Protection des donn&eacute;es à caract&egrave;re personnel</h2>
                            <ul>
                            <li>Responsable du traitements : Directeur du campus de Rennes, <em>Rue Pierre de Maupertuis, 35170 - Bruz</em></li>
                            <li>La finalité de cette collecte de donn&eacute;es est le bon fonctionnement de l&apos;application Campus Book.</li>
                            <li>Les données collectées ne seront communiquées uniquement à l&apos;&eacute;quipe de Campus Book.</li>
                            <li>Les données sont conservées pendant 5 ans apr&egrave;s la rupture du contrat entre l&apos;utilisateur et l&apos;application.</li>
                            <li>Il est possible d&apos;accéder aux données vous concernant, de les rectifier, de demander leur effacement. En cas d&apos;effacement, vous ne pourrez plus utiliser l&apos;application.
                            Consultez le site de la <a href="https://www.cnil.fr/">CNIL</a> pour plus d’informations sur vos droits.</li>
                            <li>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter (le cas échéant, notre délégué à la protection des données ou le service chargé de l’exercice de ces droits) :
                            Directeur du campus de Rennes, <em>Rue Pierre de Maupertuis, 35170 - Bruz</em></li>
                            </ul>
                            
                            <h2>CONTACT</h2>
                            <p>Il est possbile de contacter Campus Academy, à
                                <br>l’adresse :&nbsp;<a>contact@campus.academy</a>.</p>
                            
                            <h2>COOKIES</h2>
                            <p>En vue d’adapter le site aux demandes de ses visiteurs, des mesures du nombre de visites, de pages vues ainsi que de l’activité des visiteurs sur le site et de leur fréquence de retour sont effectuées.</p>
                            <p>L’outil statistique de mesure de la fréquentation du site Google Analytics, que nous utilisons, est, de manière générale, basé sur la seule analyse des « logs » de connexions sur les serveurs. Toutefois, certaines pages peuvent contenir un marqueur témoin (« cookie »).</p>
                            <p>Conformément à l’article 8.1 des conditions d’utilisation du service Google Analytics, nous attirons l’attention de nos visiteurs sur les conditions d’utilisation de ce service, consultables&nbsp;<a href="https://www.google.fr/analytics/terms/fr.html">ici</a>.</p>
                            <p>L’internaute peut refuser ces « témoins » ou les supprimer sans que cela entraîne une difficulté d’accès aux pages du site. Pour s’opposer à l’enregistrement de « témoins » ou être prévenu avant de l’accepter, nous vous conseillons de consulter la rubrique d’aide de votre navigateur qui précise la marche à suivre.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}