<div class="sidebar" data-color="blue">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text text-center">
            Menu
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="{{ path('index') }}">
                    <i class="fa fa-home"></i>
                    <p>Tableau de bord</p>
                </a>
            </li>
            <li>
                <a href="{{ path('user_index') }}">
                    <i class="fa fa-user"></i>
                    <p>Utilisateurs</p>
                </a>
            </li>
        </ul>
    </div>
</div>
