{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe d'un utilisateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    Modifier un utilisateur
                </div>
                <div class="card-body ">

                    {{ form_errors(form) }}

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <label>Mot de passe</label>
                                {{ form_widget(form.password) }}
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary">Sauvegarder</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}